<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sti" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>STI Mobile</name>
    <description>
        Mobile access to STI Portal
    </description>
    <author email="info@sti.com" href="http://www.sti.com">
        STI Developer Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png" />
    
    <!-- 
    <icon gap:density="ldpi" gap:platform="android" src="www/img/icon36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="www/img/icon48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="www/img/icon72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="www/img/icon96.png" />
    
    <icon gap:platform="ios" height="57" src="www/img/icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/img/icon.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/img/icon.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/img/icon.png" width="144" />
    
    <icon gap:platform="blackberry" src="www/img/icon.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="www/img/icon.png" />
    
    <icon gap:platform="webos" src="www/img/icon64.png" />
    <icon gap:platform="winphone" src="www/img/icon48.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/img/icon173.png" />    
    -->
</widget>
